html, body {width:100%; height:100%; margin:0px; padding:0px;}
body {position:relative;}
* {font-family:'Inconsolata', monospace; box-sizing:border-box;}

.map {position:absolute; width:65%; height:100%; top:0px; left:0px; z-index:30;}
.sidebar {
    position:absolute; width:35%; height:100%; top:0px; right:0px; overflow-y:scroll;
    background:white; z-index:40;
}

#leaflet {width:100%; height:100%;}

/* Timeline styles*/
.outbound {left:60px}
.inbound {left:320px;}
.outbound.detected {left:210px;}
.inbound.detected {left:470px;}
.trip.black {border-color:#333; background:#333;}
.trip.red {border-color:#e76f51; background:#e76f51;}
.trip.orange {border-color:#f4a261; background:#f4a261;}
.trip.yellow {border-color:#e9c46a; background:#e9c46a;}
.trip.green {border-color:#2a9d8f; background:#2a9d8f;}
.trip.blue {border-color:#264653; background:#264653;}
.trip.published, .legend i.published {border-style:solid; border-width:4px; background:none;}
.trip.detected, .legend i.detected {border:none;}

.legend {background:#f1f1f1; padding:15px 20px;}
.legend h2, .legend div, .legend i, .legend span {display:inline-block; vertical-align:middle; line-height:25px;}
.legend h2 {margin:0px; font-size:18px;}
.legend div {margin-left:20px;}
.legend i {height:25px; width:40px; background:#333; border-color:#333;}
.legend span {margin-left:10px;}

.headings {position:relative; margin:10px; height:30px;}
.heading {position:absolute; bottom:0px; font-size:18px; font-weight:bold;}

#timeline {position:relative; margin:10px;}
.border {position:absolute; top:0px; left:310px; width:1px; height:1440px; border-left:1px solid #ccc;}
.hour {position:absolute; width:100%; border-top:1px solid #ccc; padding-top:5px; color:#333;}
.now {position:absolute; width:100%; border-top:1px solid red;}
.trip {position:absolute; height:45px; width:30px;}

/* Boat styles */
#boat-list {position:absolute; bottom:0px; left:0px; padding:20px; z-index:50; max-height:100%;}
.boat-item {margin-top:15px; padding:8px 10px; color:white; box-shadow:0px 0px 6px rgba(0,0,0,0.2);}
.boat-item span {display:block; font-size:16px; line-height:1.2;}
.boat-item .title {font-weight:bold;}
.boat-item .time {font-style:italic;}
.boat-item.black {background:#333;}
.boat-item.red {background:#e76f51;}
.boat-item.orange {background:#f4a261;}
.boat-item.yellow {background:#e9c46a;}
.boat-item.green {background:#2a9d8f;}
.boat-item.blue {background:#264653;}

svg .primary {fill:#eee;}
.boat.inactive {opacity:0.4;}
.boat-black {fill:#333333;}
.boat-red {fill: #e76f51}
.boat-orange {fill: #f4a261;}
.boat-yellow {fill: #e9c46a;}
.boat-green {fill: #2a9d8f;}
.boat-blue {fill: #264653;}
